html {
  font-family: Tsukushi B Round Gothic, sans-serif;
  font-weight: bold;
  font-style: normal;
}
  

body {
  background-image: url(images/back.png);
  background-size: 100%;
  background-color: aqua;
} 


.nav-img-top {
  width: 85%;
}

.footer {
  margin-top: auto;
}

.nav-top {
  display: flex;
  text-align: center;
  margin-top: 100px;
}

.title {
  text-align: center;
}

.title-img {
  width: 50%;
  margin: 50px 0;
}

.nav-img-bottom {
  width: 65%;
}

.nav-bottom {
  display: flex;
  text-align: center;
}

.nav-img-bottom-center {
  width: 65%;
}

.for-student-title {
  margin-top: 100px;
  color: white;
  text-align: center;
  font-size: 45px;
  text-shadow: 1px 1px 1px #5e6060;
}

.for-student-box {
  margin: 30px auto 0 auto ;
  width: 90%;
  height: 400px;
  background-color: white;
  border-radius: 20px;
}

.for-parent-title {
  margin-top: 100px;
  color: white;
  text-align: center;
  font-size: 45px;
  text-shadow: 1px 1px 1px #5e6060;
}

.for-parent-box {
  margin: 30px auto 0 auto ;
  width: 90%;
  height: 400px;
  background-color: white;
  border-radius: 20px;
}

.contents {
  text-align: center;
  margin-top: 100px;
}

.contents-img {
  width: 75%;
}

.footer-box {
  position: relative;
}

.footer-box-img {
  width: 100%;
}

.footer-shaft {
  text-align: center;
  position: absolute;
  bottom: 50%;
  left: 2%;
}

.footer-shaft-img {
  width: 7%;
  height: 7%;
}

.footer-circle {  
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
}

.corporatesite {
  color: #5e6060;
  text-align: right;
  font-size: 18px;
  position: absolute;
  bottom: 130px;
  left: 60%;
}

.copyright {
  color: #5e6060;
  position: absolute;
  bottom: 16px;
  right: 50%;
}