html {
  font-family: Tsukushi B Round Gothic, sans-serif;
  font-weight: bold;
  font-style: normal;
}


body {
  background-image: url(images/back.png);
  background-size: 100%;
  background-color: aqua;
} 


.corporate-logo {
  width: 100%;
  height: 100px;
}


.corporate-logo-img {
  width: 250px;
  margin-top: 20px;
  margin-left: 20px;
}


.top-page {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
 }


.nav-img-top {
  width: 85%;
}

.nav-top {
  display: flex;
  text-align: center;
  margin-top: 30px;
}

.title {
  width: 100%;
  text-align: center;
}

.title-img {
  width: 50%;
}

.nav-img-bottom {
  width: 65%;
}

.nav-bottom {
  display: flex;
  text-align: center;
}

.nav-img-bottom-center {
  width: 65%;
}

.for-student-title {
  margin-top: 100px;
  color: white;
  text-align: center;
  font-size: 45px;
  text-shadow: 1px 1px 1px #5e6060;
}

.for-student-box {
  margin: 30px auto 0 auto ;
  width: 90%;
  height: 400px;
  background-color: white;
  border-radius: 20px;
}

.for-parent-title {
  margin-top: 100px;
  color: white;
  text-align: center;
  font-size: 45px;
  text-shadow: 1px 1px 1px #5e6060;
}

.for-parent-box {
  margin: 30px auto 0 auto ;
  width: 90%;
  height: 400px;
  background-color: white;
  border-radius: 20px;
}

.contents {
  position: relative;
  text-align: center;
  margin-top: 100px;
}


.contents-img {
  width: 90%;
}


.contents-nav-top {
  width: 50%;
  position: absolute;
  display: flex;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
}


.contents-nav-top > a {
  margin-right: 40px;
  color: white;
  font-size: 40px;
  white-space: nowrap;
}


.contents-nav-bottom {
  width: 50%;
  position: absolute;
  display: flex;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.contents-nav-bottom > a {
  margin-right: 40px;
  color: white;
  font-size: 40px;
  white-space: nowrap;
}


.footer-box {
  position: relative;
  background-color: white;
  width: 100%;
  height: 150px;
  margin-top: 100px;
}

.footer-cicle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -40%);
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.footer-shaft {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.footer-shaft-img {
  width: 70px;
  height: 70px;
}

.corporate-logo-img {
  position: absolute;
  top: 20%;
}


.corporatesite {
  position: absolute;
  color: #5e6060;
  font-size: 18px;
  bottom: 100px;
  right: 20px;
}

.instagram-logo {
  position: absolute;
  top: 60%;
  left: 85%;
  transform: translate(-50%, -40%);
  width: 50px;
  height: 50px;
  margin: 10px;
}

.x-logo {
  position: absolute;
  top: 60%;
  left: 90%;
  transform: translate(-50%, -40%);
  width: 50px;
  height: 50px;
  margin: 10px;
}
  
.copyright {
  position: absolute;
  color: #5e6060;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}